/*
http://www.w3.org/Style/Examples/007/center.en.html
https://css-tricks.com/centering-css-complete-guide/
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://css-tricks.com/all-about-floats/

*/

body {
	background-colorX: #112411; 
	colorX: linen;
	paddingX:10px;
}
A:link {color: #afdcaf;}
A:visited {color: #90a0b0;}
A:active {color: khaki;}

body.pictureX {background-color: #222222; color: khaki;}

#masthead > div { float: left; margin-bottom:10px; }
#masthead .title {font-size: 90px; color:darkseagreen;}
#masthead .subTitle {font-size: 35px; color:darkseagreen; margin-left:50px;}

#shell {
	clearX:both;
	background-colorX:pink;
}

#picture {
	float:left;
	width:576px;
	height:2000px;
}


#galleries .gallery {
  display: flex;
  flex-direction: row; 
}
#galleries .expandable {
	height:171px;
	display: flex;
	flex-direction: column; 
}

#galleries .gallery .title {
	font-size: 25px; 
	font-weight:bold; 
	font-family:helvetica; 
	letter-spacing:.1em;
	display: flex;
  	align-items: center;
	justify-content: center;
	padding:2px;
	margin-top:2px;
}
#galleries .closedGallery .title {
	background-color:#669966; 
	color:#112411; 
}

#galleries .closedGallery .title:hover {
	background-color:#99cc99; 
	color:#112411; 
	cursor:pointer;
}

#galleries .closedGallery .thumbnails {
	display:none;
}


#galleries .gallery .closedGallery .thumbnails {
	display:none;
}

#galleries .openGallery .title {
	background-color:#996666; 
	color:#112411; 
}

#galleries .openGallery .title:hover {
	background-color:#cc9999; 
	color:#112411; 
	cursor:pointer;
}

#galleries .openGallery .thumbnails {
	display:flex;
}

#galleries .gallery .title span {
	margin-top:5px;
}

#galleries .gallery .thumbnails {
	background-color: #334633; 
  	align-items: center;
	justify-content: center;
	flex-wrap:wrap;
}

.gallery .thumbnail {
	float:left;
	margin:10px;
	width:175px;
}

.gallery .thumbnail .caption {
	text-align:center;
}

.gallery .thumbnail img {
	display:block;
	margin: 0 auto;
}


/* ********************************************************** */
/* dan rose stuff */

body {
	background-color: #112411; 
	color: linen;
	padding:10px;
}
A:link {color: #afdcaf;}
A:visited {color: #90a0b0;}
A:active {color: khaki;}

body.picture {background-color: #222222; color: khaki;}

#masthead > div {
	float: left;
	margin-bottom:10px;
}


#masthead .title {font-size: 90px; color:darkseagreen;}
#masthead .subTitle {font-size: 35px; color:darkseagreen; margin-left:50px;}
#shell {
	clear:both;
	background-colorXXX:pink;
}

#picture {
	float:left;
	width:576px;
	height:2000px;
}

#galleries {
	clearX:both;
	floatX:right;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.imageGrid {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 5px 0;
}

#galleries .imageGrid {
	max-width: 1310px;
	background-color: #FF8888;
}

#galleries .imageGrid .imageGrid{
	max-width: 1280px;
	background-color: #FFAAAA;
}

#galleries .imageGrid .imageGrid .imageGrid{
	max-width: 1250px;
	background-color: #FFCCCC;
}
.cell {
  float: left;
  position: relative;
  width: 20%;
}

.gallery,
.image {
  padding: 0 5px;
  margin: 5px 0;
  height:160px;
}

.basicImg {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.cell.isCollapsed .arrowUp {
  display: block;
  height: 10px;
  width: 100%;
}

.imageLarge {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 40px;
  margin: 0 auto;
  box-sizing: border-box;
  border:red 1px solid;
}

.subGallery {
  max-width: 90%;
  height: auto;
  display: block;
  padding: 40px;
  margin: 0 auto;
  box-sizing: border-box;
  border:red 1px solid;
}


.galleryTitle {
	color:black;
	font-size: 18px; 
	font-weight:bold; 
	font-family:helvetica; 
	letter-spacing:.1em;
	background: white;
	text-align:center;
	width:144px;
	margin:0 auto;
}

.expandable > a {
	display:flex;
	align-items:center;
	flex-direction:column;
	text-decoration:none;
}


.cell.isCollapsed .image {
  cursor: pointer;
}

.cell.is-expanded > .expand {
  max-height: 1500px;
  margin-bottom: 10px;
}

.expand {
  position: relative;
  left: -5px;
  padding: 0;
  box-sizing: content-box;
  overflow: hidden;
  background: #222;
  max-height: 0;
  transition: max-height .3s ease-in-out,
              margin-bottom .1s .2s;
  widthXXX: 500%;
}
.imageGrid .expand {
	width: 1200px;
}
.imageGrid .imageGrid .expand {
	width: 1170px;
}
.imageGrid .imageGrid .imageGrid .expand {
	width: 1140px;
}

.cell:nth-of-type(5n+1) .expand {
  margin-left: 9%;
}

.cell:nth-of-type(5n+2) .expand {
  margin-left: -91%;
}

.cell:nth-of-type(5n+3) .expand {
  margin-left: -191%;
}

.cell:nth-of-type(5n+4) .expand {
  margin-left: -291%;
}

.cell:nth-of-type(5n+5) .expand {
  margin-left: -391%;
}

.cell:nth-of-type(5n+6) {
  clear: left;
}

.expand .cell:nth-of-type(5n+1) .expand {
  margin-left: 6%;
}

.expand .cell:nth-of-type(5n+2) .expand {
  margin-left: -94%;
}

.expand .cell:nth-of-type(5n+3) .expand {
  margin-left: -194%;
}

.expand .cell:nth-of-type(5n+4) .expand {
  margin-left: -294%;
}

.expand .cell:nth-of-type(5n+5) .expand {
  margin-left: -394%;
}

.expand .cell:nth-of-type(5n+6) {
  clear: left;
}

.expand .expand .cell:nth-of-type(5n+1) .expand {
  margin-left: 6%;
}

.expand .expand .cell:nth-of-type(5n+2) .expand {
  margin-left: -94%;
}

.expand .expand .cell:nth-of-type(5n+3) .expand {
  margin-left: -194%;
}

.expand .expand .cell:nth-of-type(5n+4) .expand {
  margin-left: -294%;
}

.expand .expand .cell:nth-of-type(5n+5) .expand {
  margin-left: -394%;
}

.expand .expand .cell:nth-of-type(5n+6) {
  clear: left;
}



.cell.is-expanded > .expandable > .arrowUp {
  display: block;
  border-bottom: 8px solid #222;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  height: 0;
  width: 0;
  margin: 2px auto 0;
}

.expand__close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #454545;
  font-size: 50px;
  line-height: 50px;
  text-decoration: none;
}


.expand__close:hover {
  color: #fff;
}





